.main {
    background-color: rgb(29, 165, 165);
    text-align: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    text-align: center;

    font-size: 70px;
    margin: 0;
}

#msg {
    font-size: 35px;
    width: 500px;
    height: 40px;
    text-align: center;
    margin: 10px 0;
}

.head {
    width: 400px;

}

.center {
    margin: 20px;
    display: grid;
    justify-content: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 400px;
    gap: 20px;
    flex-wrap: wrap;
    margin: 40px;
}

.box {
    width: 100px;
    height: 100px;
    font-size: 60px;
    color: red;
    border-radius: 20px;
    background-color: rgb(241, 241, 176);
    box-shadow: 2px 3px 10px black;
}

.rest-btn {
    background-color: black;
    color: white;
    margin: 10px;
    height: 50px;
    font-size: 28px;
    box-shadow: 4px 5px 15px white;
    border-radius: 10px;
    width: 200px;
}